# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
ENV/
env/
.venv/

# Distribuições e pacotes instalados
*.egg-info/
dist/
build/

# VSCode settings (se usar VSCode)
.vscode/
